{% extends "base.html" %}
{% block title %} - Bookmark{% endblock %}
{% block content %}
<div class="container">
    <table class="table table-striped">
    <thead>
         <tr>
            <th>Title</th>
            <th>Link</th>
            <th>Tags</th>
         </tr>
    </thead>
    <tbody>
        {% for b in bookmark %}
                <tr>
                    <td>{{ b.title }}</td>
                    <td>
                    <a href="{{ b.link }}"> {{ b.link }} </a>
                    </td>
                    <td>
                        {% for t in b.tag.all %}
                            <span class="label label-default">
                                 {{ t.name }}
                            </span>
                        {% endfor %}
                    </td>
                </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
