{% extends "base.html" %}
{% block title %} - Login{% endblock %}
{% block content %}
<div class="container">
    <form action="." method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <p class="errornote">invalid ID or PW</p>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="id_id" class="sr-only">ID</label>
            <div class="input-group input-group-lg">

                <div class="input-group-addon">ID</div>
                <input name="username" autofocus="" maxlength="254" required="" type="text" class="form-control" id="id_id" placeholder="ID">
            </div>
        </div>
        <div class="form-group">
            <label for="id_pw" class="sr-only">Password</label>
            <div class="input-group input-group-lg">
                <div class="input-group-addon">PW</div>
                <input name="password" type="password" class="form-control" required="" id="id_pw" placeholder="Password">
            </div>
        </div>

        <input type="submit" value="로그인" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
